pipeline/06 InstoreView_Venta_Peru_Reproceso.json
{
	"name": "06 InstoreView_Venta_Peru_Reproceso",
	"properties": {
		"activities": [
			{
				"name": "Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.instoreview.cl/api/v2/download-zone/sales/",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": "ISVToken 7e7d4a4149754f90831a8d5b8b0af7e8",
						"Content-Type": "application/json"
					},
					"body": {
						"view_type": "diario",
						"dates": [
							"2022-12-01",
							"2022-12-02",
							"2022-12-03",
							"2022-12-04",
							"2022-12-05",
							"2022-12-06",
							"2022-12-07",
							"2022-12-08",
							"2022-12-09",
							"2022-12-10",
							"2022-12-11",
							"2022-12-12",
							"2022-12-13",
							"2022-12-14",
							"2022-12-15",
							"2022-12-16",
							"2022-12-17",
							"2022-12-18",
							"2022-12-19",
							"2022-12-20",
							"2022-12-21",
							"2022-12-22",
							"2022-12-23",
							"2022-12-24",
							"2022-12-25",
							"2022-12-26",
							"2022-12-27",
							"2022-12-28",
							"2022-12-29",
							"2022-12-30",
							"2022-12-31"
						],
						"views": [
							"Unidades",
							"Costos B2B",
							"Ventas B2B",
							"Precios B2B",
							"Contribución",
							"MG (%)",
							"Ventas PVP s/IVA"
						],
						"compress": false,
						"chain_codes": [],
						"hierarchy": {
							"Rut": [],
							"Cadena": [],
							"Sub Cadena": [],
							"Región": [],
							"Local": [],
							"Comuna": [],
							"Nombre de Local": [],
							"Linea": [],
							"SKU": [],
							"EAN": [],
							"Marca": [],
							"Descripción Producto": [],
							"Genero": [],
							"Modelo": [],
							"Talla": [],
							"Temporada": [],
							"Estilo": [],
							"Código Local": [],
							"Dirección": [],
							"Categoría": []
						}
					},
					"httpRequestTimeout": "00:10:00"
				}
			},
			{
				"name": "Copiar InstoreView",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "salida:@{activity('Token').output.download_url}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InstoreView_Fuente_Ventas_Peru",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "@{activity('Token').output.download_url}"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "InstoreView_Venta_DL_Peru_Reproceso",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "DataLake_Levis/03 InstoreView/01 RAW"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T03:32:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}