pipeline/1_Carga_Google_Analytics.json
{
	"name": "1_Carga_Google_Analytics",
	"properties": {
		"activities": [
			{
				"name": "ObtieneToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "getToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "GoogleAnalyticsApis",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AlmacenaReporteDiarioDockers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ObtieneToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"dimensions\": [\n        \n        {\n            \"name\": \"date\"\n        },\n        {\n            \"name\": \"city\"\n        },\n        {\n            \"name\": \"country\"\n        },\n        {\n            \"name\": \"browser\"\n        }\n    ],\n    \"metrics\": [\n        {\n            \"name\": \"activeUsers\"\n        },\n        {\n            \"name\": \"engagedSessions\"\n        },\n        {\n            \"name\": \"eventCount\"\n        },\n        {\n            \"name\": \"newUsers\"\n        },\n        {\n            \"name\": \"Sessions\"\n        },\n        {\n            \"name\": \"totalRevenue\"\n        },\n        {\n            \"name\": \"totalUsers\"\n        }\n    ],\n    \"dateRanges\": [\n        {\n            \"startDate\": \"yesterday\",\n            \"endDate\": \"yesterday\"\n        }\n    ],\n    \"limit\": \"100000\"\n}",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('ObtieneToken').output.token}",
								"type": "Expression"
							},
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "batchGetReport_dockers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "googleAnalyticsBatchReport_dockers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AlmacenaReporteDiarioLevis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AlmacenaReporteDiarioDockers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n    \"dimensions\": [\n        \n        {\n            \"name\": \"date\"\n        },\n        {\n            \"name\": \"city\"\n        },\n        {\n            \"name\": \"country\"\n        },\n        {\n            \"name\": \"browser\"\n        }\n    ],\n    \"metrics\": [\n        {\n            \"name\": \"activeUsers\"\n        },\n        {\n            \"name\": \"engagedSessions\"\n        },\n        {\n            \"name\": \"eventCount\"\n        },\n        {\n            \"name\": \"newUsers\"\n        },\n        {\n            \"name\": \"Sessions\"\n        },\n        {\n            \"name\": \"totalRevenue\"\n        },\n        {\n            \"name\": \"totalUsers\"\n        }\n    ],\n    \"dateRanges\": [\n        {\n            \"startDate\": \"yesterday\",\n            \"endDate\": \"yesterday\"\n        }\n    ],\n    \"limit\": \"100000\"\n}",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('ObtieneToken').output.token}",
								"type": "Expression"
							},
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "batchGetReport_levis",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "googleAnalyticsBatchReport_levis",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "2_Parse_to_parquet",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AlmacenaReporteDiarioLevis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2_Parse_to_parquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "3_GA_Consolida",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "2_Parse_to_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3_GA_Consolida",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "5_Copia_Capa_Consumo",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "3_GA_Consolida",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "5_Copia_Capa_Consumo",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "Social Media/Google Analytics/Detalle"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-04T00:54:59Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}