pipeline/SAP_TX_ZV_VBRP.json
{
	"name": "SAP_TX_ZV_VBRP",
	"properties": {
		"activities": [
			{
				"name": "Llamar WS Principal",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Borrar Tabla ZV_VBRP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://10.81.206.42:8000/sap/bc/srt/rfc/sap/zws_datalake/500/zws_datalake/zws_datalake",
					"connectVia": {
						"referenceName": "edw-pivote-prd",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "text/xml;charset=UTF-8"
					},
					"body": {
						"value": "@concat('\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:urn=\"urn:sap-com:document:sap:soap:functions:mc-style\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <urn:ZfmDatalake>\n         <!--Optional:-->\n         <PCond1>AND FKDAT GE ''',formatDateTime(subtractFromTime(formatDateTime(utcnow()),1 ,'Month'),'yyyyMM01'), ''' AND FKDAT LE ''', formatDateTime(addDays(formatDateTime(utcnow()),-1),'yyyyMMdd'),'''</PCond1>\n         <!--Optional:-->\n         <PCond2></PCond2>\n         <PTabla>ZV_VBRP</PTabla>\n      </urn:ZfmDatalake>\n   </soapenv:Body>\n</soapenv:Envelope>\n\n')",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "SAP_PRD",
							"type": "LinkedServiceReference"
						}
					],
					"disableCertValidation": true,
					"authentication": {
						"type": "Basic",
						"username": "RFC_DATALAKE",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Salida WS Principal",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Llamar WS Principal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Salida_WS_Tranx",
					"value": {
						"value": "@string(activity('Llamar WS Principal').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Variable ID Control",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Salida WS Principal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID_Control",
					"value": {
						"value": "@substring(variables('Salida_WS_Tranx'),add(indexOf(variables('Salida_WS_Tranx'),'Mensaje'),8),sub(add(lastIndexOf(variables('Salida_WS_Tranx'),'</Mensaje'),0),add(indexof(variables('Salida_WS_Tranx'),'Mensaje'),8)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Hasta Estado Terminado",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Variable ID Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Ctrl_Estado'),'TERMINADO')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LLamar WS Control",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "http://10.81.206.42:8000/sap/bc/srt/rfc/sap/zws_datalake_job/500/zws_datalake_job/zws_datalake_job",
								"connectVia": {
									"referenceName": "edw-pivote-prd",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "text/xml;charset=UTF-8"
								},
								"body": {
									"value": "@concat('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:urn=\"urn:sap-com:document:sap:soap:functions:mc-style\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <urn:ZfmDatalakeJob>\n         <Namejob>',variables('ID_Control'),'</Namejob>\n      </urn:ZfmDatalakeJob>\n   </soapenv:Body>\n</soapenv:Envelope>')",
									"type": "Expression"
								},
								"linkedServices": [
									{
										"referenceName": "SAP_PRD",
										"type": "LinkedServiceReference"
									}
								],
								"authentication": {
									"type": "Basic",
									"username": "RFC_DATALAKE",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						},
						{
							"name": "Salida WS Control",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LLamar WS Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Salida_WS_Control",
								"value": {
									"value": "@string(activity('LLamar WS Control').output)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Variable Estado Control",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Salida WS Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ctrl_Estado",
								"value": {
									"value": "@substring(variables('Salida_WS_Control'),add(indexOf(variables('Salida_WS_Control'),'REstado'),8),sub(add(lastIndexOf(variables('Salida_WS_Control'),'</REstado'),0),add(indexof(variables('Salida_WS_Control'),'REstado'),8)))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Variable Estado Ejecucion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Hasta Estado Terminado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ctrl_Estado",
					"value": {
						"value": "@substring(variables('Salida_WS_Control'),add(indexOf(variables('Salida_WS_Control'),'RProcesados'),12),sub(add(lastIndexOf(variables('Salida_WS_Control'),'</RProcesados'),0),add(indexof(variables('Salida_WS_Control'),'RProcesados'),12)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Borrar Tabla ZV_VBRP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Borrar_Tabla_ZV_VBRP]"
				},
				"linkedServiceName": {
					"referenceName": "SQL_DL_SAPPRD",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Obtener Periodos Cargados",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Variable Estado Ejecucion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select distinct SUBSTRING(FKDAT,1,6)  as periodo from [dbo].[ZV_VBRP]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TX_ZV_VBRP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Recorrer Periodos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtener Periodos Cargados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtener Periodos Cargados').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copiar ZV_VBRP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('\nSELECT * \nFROM  [dbo].[ZV_VBRP]\nWHERE SUBSTRING(FKDAT,1,6) = ''',item().periodo,'''\n'\n\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "TX_ZV_VBRP",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DL_ZV_VBRP",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat('ZV_VBRP_',item().periodo,'.csv')",
											"type": "Expression"
										},
										"Folder": "@substring(string(item().periodo),0 ,4 )"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"parametro_nombre": {
				"type": "string"
			}
		},
		"variables": {
			"Salida_WS_Tranx": {
				"type": "String"
			},
			"ID_Control": {
				"type": "String"
			},
			"Ctrl_Mandante": {
				"type": "String"
			},
			"Ctrl_Job_Name": {
				"type": "String"
			},
			"Ctrl_Filas_Leidas": {
				"type": "String"
			},
			"Ctrl_Filas_Error": {
				"type": "String"
			},
			"Ctrl_Filas_Insertadas": {
				"type": "String"
			},
			"Ctrl_Fecha_Inicio": {
				"type": "String"
			},
			"Ctrl_Hora_Inicio": {
				"type": "String"
			},
			"Ctrl_Fecha_Fin": {
				"type": "String"
			},
			"Ctrl_Hora_Fin": {
				"type": "String"
			},
			"Ctrl_Estado": {
				"type": "String"
			},
			"Ctrl_Observacion": {
				"type": "String"
			},
			"Salida_WS_Control": {
				"type": "String"
			},
			"Periodos": {
				"type": "Array"
			},
			"Nombre_Archivo_Periodo": {
				"type": "String"
			},
			"Continuar_Proceso": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataLake_Levis/Transacciones/01 RAW"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T16:58:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}