pipeline/SAP_TX_ZDATALAKE.json
{
	"name": "SAP_TX_ZDATALAKE",
	"properties": {
		"activities": [
			{
				"name": "Copiar TX_ZDATALAKE",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "XmlSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: text/xml;charset=UTF-8",
							"requestBody": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:urn=\"urn:sap-com:document:sap:soap:functions:mc-style\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <urn:ZfmDinamicTable>\n         <NombreTabla>ZDATALAKE</NombreTabla>\n      </urn:ZfmDinamicTable>\n   </soapenv:Body>\n</soapenv:Envelope>",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "XmlReadSettings",
							"validationMode": "none",
							"namespaces": true
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Registro']"
								},
								"sink": {
									"name": "columna",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['soap-env:Envelope']['soap-env:Body']['n0:ZfmDinamicTableResponse']['Datos']['item']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "Dynamic_SAP_DM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TX_ZDATALAKE_DL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log_OK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copiar TX_ZDATALAKE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select\n'@{formatDateTime(utcnow(),'yyyy-MM-ddTHH:mm:ss')}' as fecha_proceso,\n'@{pipeline().Pipeline}' as nombre,\n'@{pipeline().RunId}' as id_proceso,\n'RAW' as zona,\n'TX ZDATALAKE' as fuente,\n'TX ZDATALAKE DL' as destino,\n'OK' as estado,\n'@{activity('Copiar TX_ZDATALAKE').output.rowsRead}' filas_leidas,\n'@{activity('Copiar TX_ZDATALAKE').output.rowsCopied}' filas_insertadas,\n'@{activity('Copiar TX_ZDATALAKE').output.copyDuration}' duracion\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "edw-prd-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"path": "edwlakeprd/temp_area"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "fecha_proceso",
									"type": "String"
								},
								"sink": {
									"name": "Fecha",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "zona",
									"type": "String"
								},
								"sink": {
									"name": "Capa",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "nombre",
									"type": "String"
								},
								"sink": {
									"name": "Canalizacion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "id_proceso",
									"type": "String"
								},
								"sink": {
									"name": "Id_ejecucion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "fuente",
									"type": "String"
								},
								"sink": {
									"name": "Fuente",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "destino",
									"type": "String"
								},
								"sink": {
									"name": "Destino",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "estado",
									"type": "String"
								},
								"sink": {
									"name": "Estado",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "filas_leidas",
									"type": "String"
								},
								"sink": {
									"name": "Filas_leidas",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "filas_insertadas",
									"type": "String"
								},
								"sink": {
									"name": "Filas_insertadas",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "duracion",
									"type": "String"
								},
								"sink": {
									"name": "Duracion",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Base_Articulos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Tabla_Log_Errores",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log_ERROR",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copiar TX_ZDATALAKE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "select\n'@{formatDateTime(utcnow(),'yyyy-MM-ddTHH:mm:ss')}' as fecha_proceso,\n'@{pipeline().Pipeline}' as nombre,\n'@{pipeline().RunId}' as id_proceso,\n'RAW' as zona,\n'TX ZDATALAKE' as fuente,\n'TX ZDATALAKE DL' as destino,\n'Error' as estado,\n'@{activity('Copiar TX_ZDATALAKE').output.rowsRead}' filas_leidas,\n'0' filas_insertadas,\n'@{activity('Copiar TX_ZDATALAKE').output.copyDuration}' duracion,\n'001' as codigo_error,\n'Error en Actividad de Copiado' as mensaje_error\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"allowCopyCommand": true
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "edw-prd-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"path": "edwlakeprd/temp_area"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "fecha_proceso",
									"type": "String"
								},
								"sink": {
									"name": "Fecha",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "zona",
									"type": "String"
								},
								"sink": {
									"name": "Capa",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "nombre",
									"type": "String"
								},
								"sink": {
									"name": "Canalizacion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "id_proceso",
									"type": "String"
								},
								"sink": {
									"name": "Id_ejecucion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "fuente",
									"type": "String"
								},
								"sink": {
									"name": "Fuente",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "destino",
									"type": "String"
								},
								"sink": {
									"name": "Destino",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "estado",
									"type": "String"
								},
								"sink": {
									"name": "Estado",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "filas_leidas",
									"type": "String"
								},
								"sink": {
									"name": "Filas_leidas",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "filas_insertadas",
									"type": "String"
								},
								"sink": {
									"name": "Filas_insertadas",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "duracion",
									"type": "String"
								},
								"sink": {
									"name": "Duracion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "codigo_error",
									"type": "String"
								},
								"sink": {
									"name": "Codigo_error",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mensaje_error",
									"type": "String"
								},
								"sink": {
									"name": "Descripcion_error",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Base_Articulos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Tabla_Log_Errores",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "DataLake_Levis/Transacciones/01 RAW"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-31T19:34:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}