pipeline/SAP_TX_ZV_VBPA_CON.json
{
	"name": "SAP_TX_ZV_VBPA_CON",
	"properties": {
		"activities": [
			{
				"name": "Obtener Periodos Cargados",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select distinct SUBSTRING(FKDAT,1,6)  as periodo from [dbo].[ZV_VBPA]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TX_ZV_VBPA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Recorrer Periodos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtener Periodos Cargados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtener Periodos Cargados').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DF CARGA ZV_VBPA",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_CARGA_ZV_VBPA_CON",
									"type": "DataFlowReference",
									"parameters": {
										"nombreArchivo": {
											"value": "'@{concat('ZV_VBPA_', item().periodo,'.parquet')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"ZVVBPAST2": {
											"OutputFileName": {
												"value": "@concat('ZV_VBPA_',item().periodo,'.csv')",
												"type": "Expression"
											},
											"Folder": {
												"value": "@substring(string(item().periodo),0 ,4 )",
												"type": "Expression"
											}
										},
										"ZVVBPACON": {
											"OutputFileName": {
												"value": "@concat('ZV_VBPA_',item().periodo,'.parquet')",
												"type": "Expression"
											},
											"Folder": {
												"value": "@substring(string(item().periodo),0 ,4 )",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DataLake_Levis/Transacciones/03 Consumption"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-04T19:53:15Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}