pipeline/TX_CE11000_ETL.json
{
	"name": "TX_CE11000_ETL",
	"properties": {
		"activities": [
			{
				"name": "Llamar WS Principal",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://10.81.206.42:8000/sap/bc/srt/rfc/sap/zws_datalake/500/zws_datalake/zws_datalake",
					"connectVia": {
						"referenceName": "edw-pivote-prd",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "text/xml;charset=UTF-8"
					},
					"body": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:urn=\"urn:sap-com:document:sap:soap:functions:mc-style\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <urn:ZfmDatalake>\n         <!--Optional:-->\n         <PCond1>AND BUDAT GE '20220531' AND BUDAT LE '20220601'</PCond1>\n         <!--Optional:-->\n         <PCond2></PCond2>\n         <PTabla>CE11000</PTabla>\n      </urn:ZfmDatalake>\n   </soapenv:Body>\n</soapenv:Envelope>",
					"linkedServices": [
						{
							"referenceName": "SAP_PRD",
							"type": "LinkedServiceReference"
						}
					],
					"disableCertValidation": true,
					"authentication": {
						"type": "Basic",
						"username": "RFC_LEV01",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Salida WS Principal",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Llamar WS Principal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Salida_WS_Tranx",
					"value": {
						"value": "@string(activity('Llamar WS Principal').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Variable ID Control",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Salida WS Principal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID_Control",
					"value": {
						"value": "@substring(variables('Salida_WS_Tranx'),add(indexOf(variables('Salida_WS_Tranx'),'Mensaje'),8),sub(add(lastIndexOf(variables('Salida_WS_Tranx'),'</Mensaje'),0),add(indexof(variables('Salida_WS_Tranx'),'Mensaje'),8)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Hasta Estado Terminado",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Variable ID Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Ctrl_Estado'),'TERMINADO')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LLamar WS Control",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "http://10.81.206.42:8000/sap/bc/srt/rfc/sap/zws_datalake_job/500/zws_datalake_job/zws_datalake_job",
								"connectVia": {
									"referenceName": "edw-pivote-prd",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "text/xml;charset=UTF-8"
								},
								"body": {
									"value": "@concat('<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:urn=\"urn:sap-com:document:sap:soap:functions:mc-style\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <urn:ZfmDatalakeJob>\n         <Namejob>',variables('ID_Control'),'</Namejob>\n      </urn:ZfmDatalakeJob>\n   </soapenv:Body>\n</soapenv:Envelope>')",
									"type": "Expression"
								},
								"linkedServices": [
									{
										"referenceName": "SAP_PRD",
										"type": "LinkedServiceReference"
									}
								],
								"authentication": {
									"type": "Basic",
									"username": "RFC_LEV01",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						},
						{
							"name": "Salida WS Control",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LLamar WS Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Salida_WS_Control",
								"value": {
									"value": "@string(activity('LLamar WS Control').output)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Variable Estado Control",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Salida WS Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ctrl_Estado",
								"value": {
									"value": "@substring(variables('Salida_WS_Control'),add(indexOf(variables('Salida_WS_Control'),'REstado'),8),sub(add(lastIndexOf(variables('Salida_WS_Control'),'</REstado'),0),add(indexof(variables('Salida_WS_Control'),'REstado'),8)))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Variable Estado Ejecucion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Hasta Estado Terminado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ctrl_Estado",
					"value": {
						"value": "@substring(variables('Salida_WS_Control'),add(indexOf(variables('Salida_WS_Control'),'RProcesados'),12),sub(add(lastIndexOf(variables('Salida_WS_Control'),'</RProcesados'),0),add(indexof(variables('Salida_WS_Control'),'RProcesados'),12)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Buscar Periodos Dinamicos",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Variable Estado Ejecucion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT substring(budat,1,6) as periodo\nFROM  [dbo].[CE11000]\ngroup by substring(budat,1,6)\norder by substring(budat,1,6)\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TX_CE11000",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Variable Periodos",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Buscar Periodos Dinamicos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Periodos",
					"value": {
						"value": "@activity('Buscar Periodos Dinamicos').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Variable Periodos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Periodos')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Nombre_Archivo_Periodo",
								"value": {
									"value": "@substring(string(item()),12,6)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy CE11000",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('\nSELECT * \nFROM  [dbo].[CE11000]\nwhere substring(budat,1,6) = ',variables('Nombre_Archivo_Periodo')\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "TX_CE11000",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DL_CE11000_RW",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": {
											"value": "@concat('CE11000_',variables('Nombre_Archivo_Periodo'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Borrar_Tabla_CE11000]"
				},
				"linkedServiceName": {
					"referenceName": "SQL_DL_SAPPRD",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"parametro_nombre": {
				"type": "string"
			}
		},
		"variables": {
			"Salida_WS_Tranx": {
				"type": "String"
			},
			"ID_Control": {
				"type": "String"
			},
			"Ctrl_Mandante": {
				"type": "String"
			},
			"Ctrl_Job_Name": {
				"type": "String"
			},
			"Ctrl_Filas_Leidas": {
				"type": "String"
			},
			"Ctrl_Filas_Error": {
				"type": "String"
			},
			"Ctrl_Filas_Insertadas": {
				"type": "String"
			},
			"Ctrl_Fecha_Inicio": {
				"type": "String"
			},
			"Ctrl_Hora_Inicio": {
				"type": "String"
			},
			"Ctrl_Fecha_Fin": {
				"type": "String"
			},
			"Ctrl_Hora_Fin": {
				"type": "String"
			},
			"Ctrl_Estado": {
				"type": "String"
			},
			"Ctrl_Observacion": {
				"type": "String"
			},
			"Salida_WS_Control": {
				"type": "String"
			},
			"Periodos": {
				"type": "Array"
			},
			"Nombre_Archivo_Periodo": {
				"type": "String"
			},
			"Continuar_Proceso": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataLake_Levis/Procesos ETL/Transacciones"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-03T10:49:08Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}